@model PagedList.IPagedList<MonoTest.MVC.Models.ViewModels.VehicleModelVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "VehicleModels";
}

<h2>VehicleModels</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "VehicleModel", FormMethod.Get))
{
    <p>
        Search by name or abrv: @Html.TextBox("SearchString", ViewBag.CurrentFilterModel as string)
        &nbsp
        Search by make: @Html.TextBox("SearchStringByMake", ViewBag.CurrentFilterModelByMake as string)
        <input type="submit" value="Search" />
    </p>

    <p>
        
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParmModel, currentFilter = ViewBag.CurrentFilterModel, currentFilterByMake= ViewBag.CurrentFilterModelByMake })
        </th>
        <th>
            @Html.ActionLink("Abrv", "Index", new { sortOrder = ViewBag.AbrvSortParmModel, currentFilter = ViewBag.CurrentFilterModel, currentFilterByMake = ViewBag.CurrentFilterModelByMake })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abrv)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSortModel, currentFilter = ViewBag.CurrentFilterModel , currentFilterByMake = ViewBag.CurrentFilterModelByMake }))
